<div *ngIf="group" class="col-xs-10 col-xs-offset-1 container">
    <div class="no-padding col-xs-3 pull-left">
      <h4>Agenda para inscripción al grupo {{group.nombre}}</h4>
      <p>
          Si el niño presenta algún síndrome físico o intelectual, debe solicitar entrevista anteriormente con la dirección de piscina, con la finalidad de coordinar las condiciones del ingreso y brindarle un mejor servicio.
      </p>
    </div>
    <form class="col-xs-8 col-xs-offset-1" (submit)="confirmarInscripcion()" ngNativeValidate>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Cédula:</label>
          <input class="form-control col-xs-6" required name="documento" placeholder="Tu cédula" maxlength="20" [(ngModel)]="inscripcion.documento"/>
        </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Nombre completo:</label>
          <input class="form-control col-xs-6" required name="descripcion" placeholder="Tu nombre completo" maxlength="255" [(ngModel)]="inscripcion.nombre"/>
      </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Fecha de nacimiento:</label>
          <input (change) = "updateEdad()" class="form-control col-xs-6" required name="dias" placeholder="dd-mm-aaaa" type="date" [(ngModel)]="inscripcion.fnacimiento"/>
      </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Edad:</label>
          <input class="form-control col-xs-6" required name="edad" disabled placeholder="Tu edad" type="number" [(ngModel)]="inscripcion.edad"/>
      </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Teléfono o celular de contacto:</label>
          <input class="form-control col-xs-6" required name="contacto" placeholder="Tu teléfono o celular de contacto" type="text" [(ngModel)]="inscripcion.contacto"/>
      </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Seleccionar horario para agenda:</label>
          <ul class="col-xs-12 no-padding" *ngFor="let agenda of group.agendaGrupo; let i = index;">
            <li class="col-xs-6 nombre text-left">{{agenda.diahora}}</li>
            <li class="no-padding col-xs-6 text-center">
              <button *ngIf="!agenda.tomado && inscripcion.idAgenda != agenda.id" class="col-xs-12 no-padding btn btn-success" (click)="inscripcion.idAgenda = agenda.id; inscripcion.diahora = agenda.diahora">Seleccionar</button>
              <span *ngIf="!agenda.tomado && inscripcion.idAgenda == agenda.id" class="seleccionado col-xs-12 no-padding">Seleccionado</span>
              <span *ngIf="agenda.tomado" class="no-disponible col-xs-12 no-padding">No disponible</span>
            </li>
          </ul>
       </div>
       <div class="col-xs-12 form-group">
          <ul class="buttons col-xs-12 no-padding">
            <li class="no-padding col-xs-4 col-xs-offset-1"><input type="submit" value="Confirmar" class="form-control btn btn-success"/></li>
            <li class="no-padding col-xs-4 col-xs-offset-2"><input value="Cancelar" routerLink="/groups-list" class="form-control btn btn-danger"/></li>
          </ul>
      </div>
    </form>
  </div>
  <div class="foot">
      <p class="col-xs-12 text-center">Desarrollado por Soluciones Empresariales - L.Gómez 804 - Tel. 472 56675 - Paysandú, Uruguay</p>
  </div>