
<div class="col-xs-10 col-xs-offset-1 container" [style.height]="innerHeight">
  <h4 class="pull-left">Lista de grupos disponibles</h4>    
  <ul class="pull-right">
      <li *ngIf="logged"><button class="col-xs-12 btn btn-success" routerLink="/new-group" >Crear nuevo grupo</button></li>
      <li *ngIf="!logged"><button class="col-xs-12 btn btn-info" (click)="desinscribirseGrupo(group.id)">Desinscribirse a grupo</button></li>
      <li *ngIf="logged"><button class="col-xs-12 btn btn-danger" (click)="logout()">Cerrar sesión</button></li>
  </ul>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Días</th>
        <th>Horarios</th>
        <th>Inscriptos</th>
        <th *ngIf="logged" colspan="3">Acciones</th>
        <th *ngIf="!logged" colspan="1">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngIf="!groups || !groups.length"><td colspan="9">No hay grupos disponibles</td></tr>
        <tr *ngFor="let group of groups">
            <td>{{group.nombre}}</td>
            <td>{{group.descripcion}}</td>
            <td>{{group.dias}}</td>
            <td>{{group.horarios}}</td>
            <td>{{group.inscriptos}}/{{group.cupo}}</td>
            <td *ngIf="!logged"><button [disabled]="group.inscriptos == group.cupo" class="col-xs-12 btn btn-success" routerLink="/group-enroll/{{group.id}}">Inscribirse</button></td>
            <td *ngIf="logged"><button class="col-xs-12 btn btn-success" routerLink="/group-detail/{{group.id}}">Inscriptos</button></td>
            <td *ngIf="logged"><button class="col-xs-12 btn btn-info" routerLink="/group-edit/{{group.id}}">Modificar</button></td>
            <td *ngIf="logged"><button class="col-xs-12 btn btn-danger" (click)="borrarGrupo(group.id)">Borrar</button></td>
        </tr>
    </tbody>
  </table>
</div>