
<div class="col-xs-10 col-xs-offset-1 container">
  <h4 class="pull-left">Lista de grupos disponibles</h4>    
  <ul class="pull-right">
    <li *ngIf="!logged"><button class="noprint col-xs-12 btn btn-info" routerLink="/group-unroll">Anular agenda para inscripción</button></li>
      <li *ngIf="logged"><button class="noprint col-xs-12 btn btn-success" routerLink="/new-group" >Crear nuevo grupo</button></li>
      <li *ngIf="logged"><button class="noprint btn btn-info" (click)="print()">Imprimir</button></li>
      <li *ngIf="logged && inscripciones"><button class="noprint btn btn-danger" (click)="setInscripciones(false)">Deshabilitar inscripciones</button></li>
      <li *ngIf="logged && !inscripciones"><button class="noprint btn btn-success" (click)="setInscripciones(true)">Habilitar inscripciones</button></li>
      <li *ngIf="logged"><button class="noprint col-xs-12 btn btn-danger" (click)="logout()">Cerrar sesión</button></li>
  </ul>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Días</th>
        <th>Horarios</th>
        <th>Cupos disponibles</th>
        <th class="noprint" *ngIf="logged" colspan="3">Acciones</th>
        <th class="noprint" *ngIf="!logged" colspan="1">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngIf="!groups || !groups.length"><td colspan="9">No hay grupos disponibles</td></tr>
        <tr *ngFor="let group of groups">
            <td>{{group.nombre}}</td>
            <td>{{group.descripcion}}</td>
            <td>{{group.dias}}</td>
            <td>{{group.horarios}}</td>
            <td>{{getCuposLibres(group)}}</td>
            <td class="noprint" *ngIf="!logged"><button [disabled]="group.inscriptos == group.cupo || !inscripciones" class="col-xs-12 btn btn-success" routerLink="/group-enroll/{{group.id}}">Agendar inscripción</button></td>
            <td class="noprint" *ngIf="logged"><button class="col-xs-12 btn btn-success" routerLink="/group-detail/{{group.id}}">Ver agendados</button></td>
            <td class="noprint" *ngIf="logged"><button class="col-xs-12 btn btn-info" routerLink="/group-edit/{{group.id}}">Modificar</button></td>
            <td class="noprint" *ngIf="logged"><button class="col-xs-12 btn btn-danger" (click)="borrarGrupo(group.id)">Borrar</button></td>
        </tr>
    </tbody>
  </table>
</div>
<div class="foot">
    <p class="col-xs-12 text-center">Desarrollado por Soluciones Empresariales - L.Gómez 804 - Tel. 472 56675 - Paysandú, Uruguay</p>
</div>