<div *ngIf="group" class="col-xs-10 col-xs-offset-1 container" [style.height]="innerHeight">
    <h4 class="pull-left">Editar grupo</h4>
    <form class="col-xs-8 col-xs-offset-1" (submit)="actualizarGrupo()" ngNativeValidate>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Nombre:</label>
          <input class="form-control col-xs-6" required name="nombre" placeholder="Nombre" maxlength="255" [(ngModel)]="group.nombre"/>
        </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Descripción:</label>
          <input class="form-control col-xs-6" required name="descripcion" placeholder="Descripción" maxlength="255" [(ngModel)]="group.descripcion"/>
      </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Días:</label>
          <input class="form-control col-xs-6" required name="dias" placeholder="Días" maxlength="255" [(ngModel)]="group.dias"/>
      </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Horarios:</label>
          <input class="form-control col-xs-6" required name="horarios" placeholder="Horarios" maxlength="255" [(ngModel)]="group.horarios"/>
      </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Cupo:</label>
          <input class="form-control col-xs-6" required name="cupo" placeholder="Cupo" min="0" type="number" [(ngModel)]="group.cupo"/>
      </div>
      <div class="col-xs-12 form-group">
          <label class="col-xs-4">Horarios disponibles para agenda:</label>
          <input *ngFor="let agenda of group.agendaGrupo; let i = index;" class="form-group form-control col-xs-6" required name="{{'agendaGrupo-'+i}}" placeholder="Día y hora" type="text" [(ngModel)]="group.agendaGrupo[i].diahora"/>
      </div>
      <div class="col-xs-12 form-group">
         <ul class="col-xs-12 no-padding">
           <li class="no-padding col-xs-6"><input type="submit" value="Confirmar" class="form-control btn btn-success"/></li>
           <li class="no-padding col-xs-6"><input value="Cancelar" routerLink="/groups-list" class="form-control btn btn-danger"/></li>
         </ul>
     </div>
    </form>
  </div>