<div class="col-xs-10 col-xs-offset-1 container">
    <div class="noprint no-padding col-xs-3 pull-left">
      <h4 class="no-padding pull-left col-xs-12">Detalle de agendas al grupo {{nombreGrupo}}</h4>
      <button class="btn btn-success pull-left col-xs-4" routerLink="/groups-list">Volver</button>
      <button class="btn btn-info col-xs-4" (click)="print()">Imprimir</button>
    </div>
    <div class="col-xs-9 table-container">
      <h4 class="print pull-left col-xs-12">Detalle de agendas al grupo {{nombreGrupo}}</h4>
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Documento</th>
              <th>Nombre</th>
              <th>Fecha de nacimiento</th>
              <th>Edad</th>
              <th>Agenda</th>
              <th class="noprint">Acciones</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngIf="!inscriptos || !inscriptos.length"><td colspan="9">No hay personas agendadas</td></tr>
              <tr *ngFor="let inscripto of inscriptos">
                  <td>{{inscripto.documento}}</td>
                  <td>{{inscripto.nombre}}</td>
                  <td>{{formatDate(inscripto.fnacimiento)}}</td>
                  <td>{{inscripto.edad}}</td>
                  <td>{{inscripto.diahora}}</td>
                  <td class="noprint"><button class="col-xs-12 btn btn-danger" (click)="borrarInscripcion(inscripto.id)">Borrar</button></td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div class="foot">
      <p class="col-xs-12 text-center">Desarrollado por Soluciones Empresariales - L.Gómez 804 - Tel. 472 56675 - Paysandú, Uruguay</p>
  </div>