.table-container {
    border-left: 1px solid #ddd;
}

table {
    background: white;
}

tbody td {
    line-height: 30px;
}

td {
    text-align: center;
}

.btn-info {
    margin-left: 10px;
}


@media print {
    /* style sheet for print goes here */
    .table-container {
        width: 100% !important;
    }
    .table-container h4 {
        text-align: center;
    }
}

