<h3 class="text-center">Agenda para inscripciones</h3>
<h4 class="text-center">Plaza de Deportes José E. Rodó</h4>
<h5 class="text-center">Paysandú, Uruguay</h5>
<img class="col-xs-2 img-left" src="https://s3-sa-east-1.amazonaws.com/plaza-deportes/assets/logos.png" />
<img class="col-xs-1 img-right" src="https://s3-sa-east-1.amazonaws.com/plaza-deportes/assets/logo.png" />
<div [hidden]="loading" class="col-xs-12" [style.minHeight]="innerHeight">
    <router-outlet></router-outlet>
</div>
<div class="text-center col-xs-12 loading" [hidden]="!loading">
    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
</div>