
input {
    margin: 10px 0;
}

button { 
    margin: 0 2px;
}

h4, h5 {
    color: gray;
}

.loading { 
    position: absolute;
    z-index: 999;
    top: 200px;
    left: 0;
    overflow: hidden;
}

img {
    position: absolute;
    top: 5px;
    padding: 0;
}

.img-left {
    left: 1%;
}

.img-right {
    right: -2%;
}