body {
    font-family: 'Lato', sans-serif !important;
    color: #333 !important;
    background: #F8F8F8 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.text-center {
    text-align: center;
}

input {
    outline: none !important;
}

.container {
    margin-top: 40px;
}

ul {
    list-style: none;
}