body {
    font-family: 'Lato', sans-serif !important;
    color: #333;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.text-center {
    text-align: center;
}

input {
    outline: none !important;
}