<div class="col-xs-10 col-xs-offset-1 container">
  <h4 class="pull-left">Crear nuevo grupo</h4>
  <form class="col-xs-8 col-xs-offset-1" (submit)="crearGrupo()" ngNativeValidate>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4">Nombre:</label>
        <input class="form-control col-xs-6" required name="nombre" placeholder="Nombre" maxlength="255" [(ngModel)]="newGroup.nombre"/>
      </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4">Descripción:</label>
        <input class="form-control col-xs-6" required name="descripcion" placeholder="Descripción" maxlength="255" [(ngModel)]="newGroup.descripcion"/>
    </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4">Días:</label>
        <input class="form-control col-xs-6" required name="dias" placeholder="Días" maxlength="255" [(ngModel)]="newGroup.dias"/>
    </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4">Horarios:</label>
        <input class="form-control col-xs-6" required name="horarios" placeholder="Horarios" maxlength="255" [(ngModel)]="newGroup.horarios"/>
    </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4">Cupo:</label>
        <input (change)="changeCupo()" class="form-control col-xs-6" required name="cupo" placeholder="Cupo" min="1" type="number" [(ngModel)]="newGroup.cupo"/>
    </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4">Horarios disponibles para agenda:</label>
        <input *ngFor="let agenda of newGroup.agendaGrupo; let i = index;" class="form-group form-control col-xs-6" required name="{{'agendaGrupo-'+i}}" placeholder="Día y hora" type="text" [(ngModel)]="newGroup.agendaGrupo[i].diahora"/>
    </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4">Fecha de publicación:</label>
        <my-date-picker required name="mydate" [options]="myDatePickerOptions" [(ngModel)]="newGroup.fechaPublicacion" required></my-date-picker>
    </div>
    <div class="col-xs-12 form-group">
       <ul class="buttons col-xs-12 no-padding">
         <li class="no-padding col-xs-4 col-xs-offset-1"><input type="submit" value="Confirmar" class="form-control btn btn-success"/></li>
         <li class="no-padding col-xs-4 col-xs-offset-2"><input value="Cancelar" routerLink="/groups-list" class="form-control btn btn-danger"/></li>
       </ul>
   </div>
  </form>
</div>
<div class="foot">
    <p class="col-xs-12 text-center">Desarrollado por Soluciones Empresariales - L.Gómez 804 - Tel. 472 56675 - Paysandú, Uruguay</p>
</div>